@import "resets.css";
@import "css/layout.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 585px;
    padding-bottom: 25px;
    padding-top: 15px;
    padding-right: 55px;
}
h1 {
    color: #07043B;
    font-family: 'Raleway', sans-serif;    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    width: 627px;
    height: 120px;
}
.column.side-nav {
    flex: 0 0 300px;
}
.logo-avatar {
    width: 56px;
}
.logo-words {
     font-family: 'Raleway', sans-serif;
     font-size: 40px;
     font-weight: 700;
     line-height: 60px;
     padding-right: 13px;
 }
ul {
    list-style: none;
}
.container.hero {
    min-height: 60vh;
}
ul a:link{
    text-decoration: none;
    color: #07043B;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label {
    display: block;

}
input {
    min-height: 45px;
    width: 320px;
    border: 1px solid #07043B;
    padding-left: 21px;
    border-radius: 3px;
}
input::placeholder{
    color: #C2C2C2;
    font-size: 14px;
    font-weight: 400;
}
.single-submit {
    width: 200px;
    height: 45px;
    color: #ffffff;
    background-color: #2F65F8;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    border-radius: 3px;
    border-color:#2F65F8;
}
.single-submit {
    flex: 0 0 200px;
 }
.column.hero-image {
    width: 640px;
    height: 474px;
    flex-shrink: 0;
}
p span{
    color: #07043B;
    font-family: 'Raleway', sans-serif;    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    width: 627px;
    height: 120px;
}
.white-space {
    padding-bottom: 164px;
    padding-top: 164px;
}
 .how-it-works-submit {
     font-family: 'Open Sans', sans-serif;
     color: #3DA08F;
     font-size: 16px;
     font-weight: 400;
}

 .profile-icon {
     color: #07043B;
     font-family: 'Open Sans', sans-serif;
     font-size: 8px;
     font-style: normal;
     font-weight: 400;
     line-height: 15px;
 }
 .profile-icon span {
     color: #07043B;
     font-family: 'Open Sans', sans-serif;
     font-size: 11px;
     font-weight: 700;

 }
 .icon-quotes-image{
     color: #07043B;
     font-family: 'Nunito Sans', sans-serif;
     font-size: 45px;
     font-weight: 400;
 }
 .avatar-image {
     width: 32px;
     height: 32px;
     flex-shrink: 0;
     border-radius: 999px;
 }
.testimonials {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);
}
.hero-image-2 {

}